body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: slateblue;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-range::-webkit-slider-thumb {
    background: gray;
}

.custom-range::-moz-range-thumb {
    background: gray;
}

.custom-range::-ms-thumb {
    background: gray;
}

.brown .progress-bar {
    background-color: brown;
    border-radius: 6px;
}

.orange .progress-bar {
    background-color: orange;
    border-radius: 6px;
}

.slateblue .progress-bar {
    background-color: slateblue;
    border-radius: 6px;
}

.cornflowerblue .progress-bar {
    background-color: cornflowerblue;
    border-radius: 6px;
}

.gray .progress-bar {
    background-color: #414141;
    border-radius: 6px;
}
